
    /* Loading Spinner Styles */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
    visibility: hidden; /* Hidden by default */
}
.time-row {
    display: flex;
    justify-content: space-between;
}

.time-field {
    width: 48%; /* Adjust the width to slightly less than 50% to account for any padding/margins */
    display: flex;
    flex-direction: column;
}

.time-field select,
.time-field input {
    width: 100%; /* Ensure the select and input elements take the full width of their container */
}


/* Ensure the select and input fields take full width of their parent */
.time-row .form-group select,
.time-row .form-group input {
    width: 100%;
}

.loading-text {
    color: transparent;
    background: linear-gradient(45deg, #FFDC71, #FF8534);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Optional: for bold text */
    margin-top: 20px; /* Adjust the spacing between the spinner and the text */
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spinner-text {
    margin-top: 10px;
    color: #3498db; /* Example color, change as needed */
    font-size: 18px;
    font-weight: bold;
}
.time-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-field {
    width: 48%; /* Adjust the width to slightly less than 50% to account for any padding/margins */
    display: flex;
    flex-direction: column;
}

.time-field select {
    width: 100%; /* Ensure the select element takes the full width of its container */
}




.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
.hidden {
    display: none;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

        .container {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-group label {
            margin-bottom: 5px;
        }

        .form-group select,
        .form-group input {
            margin-bottom: 15px;
        }

        .results-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .result-box {
            border: 1px solid orange;
            padding: 10px;
            width: 100%;
            max-width: 300px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .results-space {
            margin-top: 20px;
        }
//check in time and check out